<head>
<meta charset="UTF-8">
<title>CanAm Pizza</title>
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Courgette' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Slabo+27px' rel='stylesheet' type='text/css'>

</head>

<template name="layout">

<!--{{>header}} -->


{{> yield}}  

<!-- About US-->
<!--{{>aboutUs}} -->

<!---End About US-->
<!-- Catering -->
<!--{{>catering}} -->
<!---End Catering-->

        
  <!-- FOOTER -->

  <!--{{>footer}}-->

  <!-- END / FOOTER --> 

{{#if showCart}}

   <!-- {{>cart}} -->

  {{/if}}

  
  </template>
