<template name="addToCart">
<!--Message2Kitchen-->
<!--Message2Kitchen-->
<div class="modal fade" id="popMessage2KitchenModal" tabindex="-1" role="dialog" aria-labelledby="popMessage2KitchenModalLabel" aria-hidden="true" style=" background-color: rgba(0,0,0,0.10);">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-color:rgba(244,204,0,1.00);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="add-to-cart-product-name" id="popMessage2KitchenModalLabel">{{getModatTitleMessage}}</span>
      </div>
      <div class="modal-body" >
        <form >
          <div class="form-group">
            <label for="recipient-name" class="control-label">Now Pick a Size :&nbsp;&nbsp;</label>
            <div class="btn-group" data-toggle="buttons" >
              {{#if hasValue 'PriceMedium'}}
                <label class="btn btn-primary">
                  <input type="radio" name="itemSize"  value="medium" id="itemSizeMedium"   autocomplete="off">
                  <span style="font-size:.8em; font-weight:300">Medium </span><span class="badge"   style="font-size:.7em; font-weight:300" >{{ getFormattedPrice 'PriceMedium' }}</span> 
                </label>
               {{/if}}  
              {{#if hasValue 'PriceLarge'}}
                <label class="btn btn-primary active">
                  <input type="radio" name="itemSize" value="large" id="itemSizeLarge" style="font-size:.6em"  autocomplete="off" checked>
                  <span style="font-size:.8em; font-weight:300">Large</span> <span class="badge"   style="font-size:.8em; font-weight:300" >{{getFormattedPrice 'PriceLarge'  }}</span> 
                </label>
               {{/if}}  
              {{#if hasValue 'PriceXL'}}
                <label class="btn btn-primary">
                  <input type="radio" name="itemSize" value="xl" id="itemSizeXL" style="font-size:.7em"  autocomplete="off">
                  <span style="font-size:1em; font-weight:300"> X-Large</span> <span class="badge"   style="font-size:.7em; font-weight:300" >{{ getFormattedPrice 'PriceXL'}}</span> 
                </label>
               {{/if}}  
            </div>
          </div>
          {{#if askSpiceLevel 'SpiceLevel' }}

              <div class="form-group">
                <label for="recipient-name" class="control-label">How Spicy?&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;&nbsp;</label>
                <div class="btn-group" data-toggle="buttons" >
                  <label class="btn btn-primary">
                    <input type="radio" name="spiceLevel"  value ="mild" id="spiceLevelMild"   autocomplete="off">
                    <span style="font-size:.8em; font-weight:300">Mild</span></label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="spiceLevel" value ="medium" id="spiceLevelMedium" style="font-size:.6em"  autocomplete="off" checked>
                    <span style="font-size:.8em; font-weight:300">Medium</span> </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="spiceLevel" value ="hot" id="spiceLevelHot" style="font-size:.7em"  autocomplete="off">
                    <span style="font-size:1em; font-weight:300">Hot</span> </label>
                </div>
              </div>

          {{/if}}
          <input  type="text" autofocus id="message-text" class="form-control" placeholder=""  >
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" data-dismiss="modal">Add to Order</button>
      </div>
    </div>
  </div>
</div>
<!--//Message2Kitchen--> 

<!--<div id="popMessage2KitchenModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Do you want to save changes you made to document before closing?</p>
                <p class="text-warning"><small>If you don't save, your changes will be lost.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> -->

</template>