<template name="addToCart">
<!--Message2Kitchen-->
<!--Message2Kitchen-->
<div class="modal fade" id="popMessage2KitchenModal" tabindex="-1" role="dialog" aria-labelledby="popMessage2KitchenModalLabel" aria-hidden="true" style=" background-color: rgba(0,0,0,0.10);z-index:3000">
  <div class="modal-dialog" >
    <div class="modal-content" style="background-color:rgba(244,204,0,1.00);">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <span class="add-to-cart-product-name" id="popMessage2KitchenModalLabel">{{getModatTitleMessage}}</span>
      </div>
      <div class="modal-body" >
        <form >
          <div class="form-group">
            <label for="recipient-name" class="control-label">Now pick a size :</label> <br>
            <div class="btn-group" data-toggle="buttons" >
              {{#if hasValue 'PriceMedium'}}
                <label class="btn btn-primary">
                  <input type="radio" name="itemSize"  value="{{getItemSizeMedium}}" id="itemSize{{getItemSizeMedium}}" >
                  <span style="font-size:1em; font-weight:300">{{getItemSizeMedium}} </span>
                  <span class="badge"   style="font-size:1em; font-weight:300" >{{ getFormattedPrice 'PriceMedium' }}</span> 
                </label>
               {{/if}}  
              {{#if hasValue 'PriceLarge'}}
                <label class="btn btn-primary active">
                  <input type="radio" name="itemSize" value="{{getItemSizeLarge}}" id="itemSize{{getItemSizeLarge}}" checked >
                  <span style="font-size:1em; font-weight:300">{{getItemSizeLarge}}</span> 
                  <span class="badge"   style="font-size:1em; font-weight:300" >{{getFormattedPrice 'PriceLarge'  }}</span> 
                </label>
               {{/if}}  
              {{#if hasValue 'PriceXL'}}
                <label class="btn btn-primary">
                  <input type="radio" name="itemSize" value="{{getItemSizeExtraLarge}}" id="itemSize{{getItemSizeExtraLarge}}" >
                  <span style="font-size:1em; font-weight:300"> {{getItemSizeExtraLarge}}</span> 
                  <span class="badge"   style="font-size:1em; font-weight:300" >{{ getFormattedPrice 'PriceXL'}}</span> 
                </label>
               {{/if}}  
            </div>
          </div>
          {{#if askSpiceLevel 'SpiceLevel' }}

              <div class="form-group">
                <label for="recipient-name" class="control-label">How spicy?</label><br>
                <div class="btn-group" data-toggle="buttons" >
                  <label class="btn btn-primary">
                    <input type="radio" name="spiceLevel"  value ="{{getSpiceLevelMild}}" id="spiceLevel{{getSpiceLevelMild}}" >
                    <span style="font-size:1em; font-weight:300">{{getSpiceLevelMild}}</span>
                  </label>
                  <label class="btn btn-primary active">
                    <input type="radio" name="spiceLevel" value ="{{getSpiceLevelNormal}}" id="spiceLevel{{getSpiceLevelNormal}}"  checked>
                    <span style="font-size:1em; font-weight:300">{{getSpiceLevelNormal}}</span> 
                  </label>
                  <label class="btn btn-primary">
                    <input type="radio" name="spiceLevel" value ="{{getSpiceLevelSpicy}}" id="spiceLevel{{getSpiceLevelSpicy}}" >
                    <span style="font-size:1em; font-weight:300">{{getSpiceLevelSpicy}}</span> 
                  </label>
                </div>
              </div>

          {{/if}}
           <input  type="text" class="form-control" id="inputMessageToKitchenByItem" name="messageToKitchenByItem" maxlength="44"  placeholder="Special Instruction" style="text-align:left" >
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success addcart" data-dismiss="modal">Add to Order</button>
      </div>
    </div>
  </div>
</div>
<!--//Message2Kitchen--> 


</template>