<template name="cart">
<div align="center" class="checkout-modal-modal" id="checkout-modal-modal" style=" display:none;" scroll="yes">

<div class="container">
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-info" style="border: none; box-shadow:2px 2px 20px rgba(0,0,0,0.20) ;" >
      <div class="panel-heading" style="background-color:maroon; color:gold">
        <div class="panel-title" >
          <div class="row">
            <div class="col-xs-6">
              <h4 class="pull-left" >Your Order...</h4>
            </div>
            <div class="col-xs-6">
              <button type="button" class="btn btn-primary pull-right btn-sm " style="background-color:red;" id="checkout-modal-close-trigger"> <span class="glyphicon "></span> Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="panel-body"  id="bodyid">

        {{#each shopCart}} 

        <div class="row"> 
  
          <div class="col-xs-4 pull-left">
            <div class="product-name"> 
              <strong style="font-family: 'Dancing Script', Gotham, 'Helvetica Neue', Helvetica, Arial, sans-serif;color:black;font-size: 1.4em" >{{Name}}</strong> <br/>
                <small> 
                    {{{getSelectedItemSize this}}} {{{getSelectedSpiceLevel this}}}
                </small>
            </div>
            <br>
            <input  type="text"  size="44" name="messageToKitchen" maxlength="44" class="form-control" id="inputMessageToKitchen"  style="font-size:.9em; border:solid 1px #e1e1e1; background-color:lightyellow;color:grey" placeholder="Enter a message for this item" value="{{messageToKitchenByItem}}" >
          </div>
      <div class="col-xs-4 text-right"> 
            <input name="product_{{product}}" value="{{qty}}" type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="qtyy-modal" id="product_in_cart"  size="2" maxlength="2" border="0">

       </div>         
     
          <div class="col-xs-2 text-right">
              <h6><strong style="font-weight:600; color:black;">{{currency totalPrice}}</strong></h6>
            </div>
         
          <div class="col-xs-2 text-right">
              <button type="button" class="btn btn-link btn-s removecart"> <span class="glyphicon glyphicon-trash"> </span> </button>
            </div>
          
     
     </div>
        
    
    
    
<hr style="border:dashed thin rgba(175,110,0,0.50)">

  {{/each}}


      </div>
      <!--Customer Details-->
      <div class="panel-footer" id="footerid" >
        <div class="row " > 
          
          <!--User Details-->
          <div class="col-xs-6" id="customerinfoid"  >

            <input  type="text"  class="form-control" id="inputContactName"       name="contactName"      maxlength="25"  style="text-align:left" required placeholder="(Required) Your Name"><br/>
            <input type="email" class="form-control"  id="inputEmail"             name="email"            maxlength="60"  style="text-align:left" required placeholder="(Required) Your Email for confirmation"><br/>            
            <input  type="tel"   class="form-control" id="inputPhoneNumber"       name="phoneNumber"      maxlength="15"  style="text-align:left" required placeholder="(Required) Your Phone Number"><br/>

            <input  type="text" class="form-control" id="inputMessageToKitchen"   name="messageToKitchen" maxlength="44"  placeholder="Special Instruction" style="text-align:left" wrap="hard">
          </div>
          <!--//User Details--> 
          <!--Payment Box-->
          <div class="col-xs-6" id="paymentboxid" >
            <input  type="radio" name="paymentOption" value="onPickup"  id="inputRadioPickUp" checked><span style="color:black">&nbsp;Pay on Pickup </span>
            {{#if isPaymentEnabled}}
                  &nbsp;<input type="radio" name="paymentOption"  value="now" id="inputRadioNow" ><span style="color:black">&nbsp;Pay Now </span><br/>

                  <div class="panel panel-default">
                    <div class="panel-body">
                      <form role="form">
                        <div class="form-group">
                          <div class="input-group">
                            <input type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" id="inputCardNumber" name="cardNumber"  maxlength="16" size="20" style="text-align:left" placeholder="Valid Card Number"  required>
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span> 
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-xs-7 col-md-7">
                            <div class="form-group">
                              <div class="col-xs-6 col-lg-6 pl-ziro pull-left">
                                <input type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" id="inputCardExpiryMonth" name="cardExpiryMonth"  maxlength="2" size="5" placeholder= "MM" style="text-align:left" required>

                              </div>
                              <div class="col-xs-6 col-lg-6 pl-ziro"> 
                                <input type="tel"  onClick="this.setSelectionRange(0, this.value.length)" class="form-control" id="inputCardExpiryYear" name="cardExpiryYear"  maxlength="4" size="5" placeholder= "YYYY" style="text-align:left" required>
                              </div>
                            </div>
                          </div>
                          <div class="col-xs-5 col-md-5 pull-right">
                            <div class="form-group">
                              <input type="tel" onClick="this.setSelectionRange(0, this.value.length)" class="form-control" id="inputCVC" name="cardCVC"  maxlength="4" size="5" style="text-align:left" placeholder="CCV" required>
                            </div>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
            {{/if}}
          </div>

          <!-- // Payment Box--> 


        <!-- Total -->
        <div class="row" id="totalid">
          <div class="col-xs-6"></div>
          <div class="col-xs-6"  style="color:black" id="totaltaxid" >
            <details class="pull-right" style="test-align:left">
          
             <summary>Total: <strong>{{currency shopCart.total}}</strong></summary><br>
              <ul>
                <li>Tax: {{currency shopCart.tax}}</li>
                <li>Delivery: $3.00</li>
                <li>Discount: ({{currency shopCart.discount}})</li>
              </ul>
            </details>
          </div>
        </div>
    <hr style="border:solid thin rgba(175,110,0,0.50)">
        <div class="row">
          <div align="right" class="col-xs-12" id="placeorderid" style='padding-right:70px; padding-bottom:15px'>
            <button type="button" class="btn btn-success" id="placeOrder"> Place Order </button>
          </div>
        </div>
        
        <!-- // Total --> 
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
<div align="center" class="nav navbar-fixed-bottom" style="background-color:gold;padding:10px;z-index:5000;">
  <button id="checkout-modal-trigger" class="bttn-modal">Togo Order</button> 
  <div class="col-lg-12" >Powered by <a href='http://websheets.io'>Websheets&#8482;</a></div>
</div>



</template>